<!doctype html>
<html lang="en">
  <head>
    <title>
      Careers
    </title>    

    <!-- adding CSS bootstrap handlers-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <style>
      #banner{
      height: 360px;
      object-fit:cover;
      width:100%
      }
    </style>
    
  </head>

  <!-- ENTERING THE BODY-->
  <body>
    <div class = 'container-fluid'>
      <div class="text-center">
        
        <!-- main text-->
        <h1>Jovian Careers</h1>
        <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" id = "banner" class="img-fluid"  alt="careers">

        <div class = 'container-sm'>
          <h2> About Jovian</h2>
          <p>
            We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.
          </p>
        </div>

        
        <h2> Open Positions</h2>
        <div align = "left">

            <p>
            {% for x in jobs%}
                <!--added a placeholder to call a different file jobs.html-->
                {% include 'jobs.html' %}

            {% endfor %}
            </p>
        </div>

        
        <button align = "center" type="button" class="btn btn-primary">Apply <strong>Now</strong></button>

      </div> <!-- text center div-->
    </div> <!-- fluid container div-->
  </body>

  
</html>  