<!doctype html>
<html lang="en">
  <head>
    <title>
      Careers
    </title>    

    <!-- adding CSS bootstrap handlers-->
    {% include 'bootstrap.html' %}
  </head>

  <!-- ENTERING THE BODY-->
  <body>
    <!--added a placeholder to call a different file-->
    {% include "nav.html" %}
    
    <div class = 'container-fluid'>
      <div class="text-center">
        
        <!-- main text-->
        <h1>Jovian Careers</h1>
        <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" id = "banner" class="img-fluid"  alt="careers">

        <div class = 'container-sm'>
          <h2> About Jovian</h2>
          <p>
            <ul>
              <li>
                We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.
              </li>
              <li>
                We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.
              </li>
            </ul>
            We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.We offer industry-focused courses and programs that help you learn technical skills, build real-world projects, and advance your career.
          </p>
        </div>

        
        <h2> Open Positions</h2>
        <div align = "left">

            <p>
            {% for x in jobs%}
                <!--added a placeholder to call a different file jobs.html-->
                {% include 'jobs_list.html' %}

            {% endfor %}
            </p>
        </div>

        
        <button align = "center" type="button" class="btn btn-primary">Apply <strong>Now</strong></button>

      </div> <!-- text center div-->
    </div> <!-- fluid container div-->
  </body>

  
</html>  